@font-face{
	font-family: "openhuninn";
	src: url("./jf-openhuninn-1.0.ttf");
}

html{
	font-family: "openhuninn";
}
.main {
	margin-left: 250px; /* Same width as the sidebar + left position in px */
    font-size: 17px; /* Increased text to enable scrolling */
    padding: 0px 10px;
	color:#3C3C3C;
}
